<ion-view class="lessons">
	<ion-content has-bouncing="false" id="lessonsReadContent" overflow-scroll="false" delegate-handle="mainScroll">
		<div class="lesson-container" id="lessonContainer" ng-class="{'answered': isCompleted()}">
			<div class="lesson-text">
				<rendered-lesson id="{{ lesson.id }}"></rendered-lesson>
			</div>

			<div class="complete-lesson-btn lesson-text" ng-hide="alreadyCompleted">
				<hr />

				<div ng-click="completeLesson()" ng-show="!isCompleted()">
					<div id="complete-check"></div>
					<t>To successfully complete this lesson</t>
					<div class="answer-question"><t>answer the question here</t></div>
				</div>

				<div class="item-animate" ng-show="showQuestion">
					<div ng-show="isCompleted()" class="hooray">
						<t>Correct!</t><br />
						<t>Hooray - lesson completed!</t>
					</div>
				</div>

				<hr />
			</div>
		</div>

		<div class="sub-lessons">
			<div class="row">
				<div class="col">
					<ion-list class="btn">
						<a type="item-text-wrap" href="#/tab/top" class="item item-thumbnail-right top-brokers">
							<div class="img"><div style="background-image: url('img/top_brokers_tr.png')"></div></div>
							<h2><t>Top Brokers</t></h2>
						</a>
					</ion-list>
				</div>
			</div>

			<table class="lessons-bottom-menu">
				<tr>
					<td style="padding: 0;">
						<ion-list class="btn">
							<a type="item-text-wrap" href="#/tab/lessons" class="item item-thumbnail-left">
								<div class="img"><div style="background-image: url('img/all_lessons.png')"></div></div>
								<h2><t>All Lessons</t></h2>
							</a>
						</ion-list>
					</td>

					<td style="padding: 0;">
						<ion-list class="btn">
							<a ng-show="!isLast" type="item-text-wrap" ng-click="open(lesson.id + 1)" class="item item-thumbnail-right">
								<div class="img"><div style="background-image: url('img/lesson_{{ lesson.id + 2 }}.png')"></div></div>
								<h2><t>Next Lesson</t></h2>
							</a>

							<a ng-show="isLast" type="item-text-wrap" href="#/tab/dash" class="item item-thumbnail-right">
								<div class="img"><div style="background-image: url('img/home.png')"></div></div>
								<h2><t>FINISH TRAINING</t></h2>
							</a>
						</ion-list>
					</td>
				</tr>
			</table>
		</div>
	</div>

</ion-content>
</ion-view>
