<ion-view view-title="{{ t('Congratulations') }}" class="lessons">
  <ion-content class="padding" has-bouncing="false">
    
    <div class="row">
    
    	<t>Well done! Training completed</t>
    
    </div>
    
    <div class="row">
    
    	<div class="col">
    		<a href="#/tab/lessons">training</a>
    	</div>
    
    	<div class="col" ng-click="">
    		shop
    	</div>
    
    </div>
    
    <div class="row">
    
    	our dynamic broker top
    
    </div>

  </ion-content>
</ion-view>
