<ion-view class="lessons" ng-cloak>
<ion-content has-bouncing="false" class="no-scroll trading" overflow-scroll="true">

	<div class="help-main assets" ng-if="helpVisible" ng-class="{'asset-limitation-height': !isHowToSeen && !helpVisible}" ng-click="nextHelpStep()"></div>

	<ion-header-bar align-title="left" class="bar-instruments" overflow-scroll="true" id="instrument-buttons" ng-class="{'show-asset-limits': !isHowToSeen && !helpVisible}">

		<div class="asset-limitation" ng-click="openHowTo()" ng-if="!helpVisible">
			<t>Why can i trade only 5 assets? 👉<b>Read more</b></t>
		</div>

		<div class="swiper-container asset-menu full-width">
			<div class="swiper-wrapper">
				<div class="swiper-slide asset-{{::topcurrency}}" ng-click="setCurrency(topcurrency);" ng-class="{'button-calm': (currency == topcurrency), 'hidden': !assetsLoaded}" ng-repeat="topcurrency in :curr:activePairs">
					<div class="dash-border">
						<span class="asset"></span>
					</div>
					<!-- <span ng-show="user.positions[topcurrency] && positionPctValue[topcurrency] != 0" class="performance-indicator"></span> -->
					<span ng-show="!user.positions[topcurrency] && assetSelectorState == true" class="deactivate-asset"></span>
					<p>
						<span class="asset-name" ng-if="assetCats[topcurrency] == 'Forex'">
							{{:curr:getSymbolHalfs(topcurrency)[0] }}<span class="thin">/</span>{{:curr:getSymbolHalfs(topcurrency)[1]}}
						</span>
						<span class="asset-name" ng-if="assetCats[topcurrency] != 'Forex'">
							{{:curr:getSymbolName(topcurrency) }}
						</span>
						<span class="slider-instrument-price" ng-show="!user.positions[topcurrency]" ng-class="{'visible': (menuInstrumentRate[topcurrency] != 0 && menuInstrumentRate[topcurrency])}"><br>{{ ::getSymbolPricePrefix(topcurrency) }}{{menuInstrumentRate[topcurrency]}}{{ ::getSymbolPriceSuffix(topcurrency) }}</span>
						<span class="slider-instrument-price pch" ng-show="user.positions[topcurrency]" ng-class="{'visible': positionPctValue[topcurrency] != undefined,'negative': positionPctValue[topcurrency] < 0}"><br><span class="icon-performance"></span>{{positionPctValue[topcurrency] | mathAbs}}%</span>
					</p>
					<span class="change-asset" ng-click="toggleAssetSelector()"></span>
				</div>
			</div>
			<div class="preload">
				<div ng-repeat="topcurrency in ::getPairs(true)" class="asset-{{::topcurrency}} preload"><span class="asset"></span></div>
			</div>
		</div>

	</ion-header-bar>

	<div id="asset-select" class="asset-select" drag-down close="toggleAssetSelector()">
		<div class="asset-top-static">
			<a class="asset-selector-close" ng-click="toggleAssetSelector()"></a>

			<div class="asset-how-to">
				<p ng-if="!isCompare"><t>Select an asset to change</t></p>
				<p ng-if="isCompare"><t>Select an asset to compare</t></p>
			</div>

			<div class="row asset-sort-search asset-search">
				<input type="text" ng-keypress="closeKeyboard($event)" ng-model="assetSearch" ng-change="updateAssetResults(assetSearch)" placeholder="Search" />
			</div>
		</div>

		<div class="asset-block" style="width: 100%" ng-repeat="category in ::categories" ng-hide="::user.country == 'CN' && category.name == 'Crypto'" ng-if="category.popular || !assetSearch">
			<h3 ng-if="assetSearch"><t>Search Results</t></h3>
			<div ng-if="!assetSearch">
				<h3 ng-if="::!category.popular">{{categoryNames[category.name]}}</h3>
				<h3 ng-if="::category.popular">
					<span><t>Today's Market Movers</t></span>
				</h3>
			</div>
			<div class="asset asset-{{asset}}" ng-repeat="asset in :sortedAssets:category.sorted" ng-click="toggleActivePair(asset);" ng-class=":curr:{'active': (activePairs && isPairActive(asset))}">
				<div class="asset-logo" ng-class="::{'market-closed': !isMarketOpen(asset)}">
					<div class="dash-border">
						<span class="asset"></span>
					</div>
				</div>
				<div class="asset-name">{{ ::symbolNames[asset] || asset }}</div>
				<div class="asset-pch">
					<span class="slider-instrument-price">
						<span class="asset-price-state" ng-if="::category.popular" ng-class="::{'negative': sym(asset).pch <= 0}"><span class="plus">+</span>{{::sym(asset).pch}}%</span>
						<span ng-if="::!category.popular">{{ ::getSymbolPricePrefix(asset) }}{{::formatRate(sym(asset).mid)}}{{ ::getSymbolPriceSuffix(asset) }}</span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<ion-slide-box ng-if=":tradingInit:tradingLoaded" id="trading-container" class="currencies state-open" ng-class=":curr:{'state-offline': !isOnline, 'state-online': isOnline, 'state-open': isOpen, 'state-closed': !isOpen, 'asset-limitation-padding': !isHowToSeen && !helpVisible}" disable-scroll="true" show-pager="false" delegate-handle="tradeSlider">

		<ion-slide>
			<div class="help-main main-content" ng-if="helpVisible" ng-click="nextHelpStep()"></div>

			<div class="slide-container" id="currency-container">

				<div class="instrument-header">
					<div class="center if-online" ng-class=":positions:{'position-open': user.positions[currency] && !helpVisible}">
						<div id="instrument-block" class="instrument-block if-rate-loaded" ng-class="{'positive-change': symbol.pch >= 0, 'negative-change': symbol.pch < 0}">
							<div class="instrument-info">
								<div class="instrument-mid-price position-result-header">
									<span>
										<div >
											<span class="close-pos-result">
												<span class="valueSign inline if-win" style="width: auto;"> <span class="black"><t>Profit</t>:</span> +</span><span class="valueSign inline if-loss" style="width: auto;"><span class="black"><t>Loss</t>:</span> -</span><span class="bind-rate position-change" bind="formattedPositionChange"></span>
											</span>
										</div>
									</span>
								</div>
								<div class="instrument-name">
									<span class="instrument-price">1 {{:curr:getSymbolHalfs(currency)[0]}} = &nbsp;{{:curr:getSymbolPricePrefix(currency)}}<span class="bind-rate visible-rate" bind="formattedMid"></span><span class="bind-rate ghost-rate" bind="formattedMidGhost"></span> <span ng-show=":curr:!getSymbolPricePrefix(currency)">{{:curr:getSymbolHalfs(currency)[1]}}</span>
								</div>
								<div class="instrument-mid-price no-position">
									<span>
										<div><t>Today</t> <span class="chg"><span class="arrow"></span>{{:symbolPrice:symbol.ch | number}} ({{:symbolPrice:symbol.pch | mathAbs}}%)</span></div>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="chart-canvas" class="if-online">
					<chart-canvas></chart-canvas>
				</div>

				<div id="chart-container-main" class="if-online" ng-repeat="(chartcurrency, state) in :curr:hasChart track by $index" ng-show=":curr:(chartcurrency == currency)">
					<chart symbol="{{ ::chartcurrency }}"
						active="{{:curr:((chartcurrency == currency) && isActive) }}"
						transformtooltip="transformTooltip"
						transform="transformData"
						rendercallback="renderCallback"
						zoom-slow="1.5"
						ng-if=":curr:(chartcurrency == currency) || hasChart[chartcurrency]"
						ng-show=":curr:chartcurrency == currency">
					</chart>
				</div>

				<div class="offline chart-container if-offline">
					<div class="chart-inner-container">
						<span ng-show="!reconnecting"><t>Connection lost...</t></span>
						<span ng-show="reconnecting"><t>Reconnecting...</t></span>
					</div>
				</div>

				<div class="bottom-container">

					<div class="buysell-container if-open if-online" ng-class="{'help-visible-buttons': helpVisible}">
						<div class="buysell-menu" ng-if="!user.positions[currency] || helpVisible">

							<div class="buysell-buttons">
								<button class="button button-stable button-sell" ng-click="startTransaction(currency, 'sell', $event)"><span class="icon-sell"></span><t>Sell</t><!-- &nbsp;<span class="rate bind-rate" bind="formattedAsk"></span> --></button>
								<button class="button button-stable button-buy" ng-click="startTransaction(currency, 'buy', $event)"><t>Buy</t><span class="icon-buy"></span><!-- &nbsp;<span class="rate bind-rate" bind="formattedBid"></span> --></button>
							</div>

							<div class="open-transaction" click-outside="cancelTransaction(currency)" outside-if-not="open-transaction, asset-select">
								<div class="opentrade-button">
									<button class="button button-stable" ng-click="openPosition(transStarted, currency)" ng-class="{'button-open-thinking': positionOpening[currency]}"><t>Open trade at</t> <span ng-show="transStarted == 'sell'" class="bind-rate" bind="formattedAsk"></span> <span ng-show="transStarted == 'buy'" class="bind-rate" bind="formattedBid"></span></button>
								</div>

								<div class="opentrade-button-shade"></div>

								<table>
									<tr class="leverage leverage-{{:curr:leverages.length}}">
										<td><t>Leverage</t></td>
										<td class="leverage-pad"></td>
										<td ng-repeat="(levIndex, leverage) in :curr:leverages track by $index" ng-click="setLeverage(levIndex)">
											<a ng-class="{'selected': posLeverage == levIndex, 'ads': 0 == levIndex && !maxLeverageUnblocked && !isUserPro}">{{:curr:leverage }}x</a>
										</td>
									</tr>
									<tr class="amount">
										<td><t>Position Size</t></td>
										<td ng-click="setAmount(amIndex)" ng-repeat="(amIndex, amount) in :curr:cashAmounts track by $index">
											<a ng-class="{'selected': posAmount == amIndex, 'ads': 0 == amIndex && !maxAmountUnblocked && !isUserPro}">${{amount.formatted}}</a>
										</td>
									</tr>
								</table>

								<div class="cash-available">
									<span class="cash-amount">${{ user.cash | number:2 }}</span> - <t>cash available</t>
									<div id="pct-of-cash"><span><strong>{{ amounts[posAmount] }}%</strong> <t>from cash</t></span></div>
								</div>
							</div>
						</div>

						<div class="position-menu" ng-if="user.positions[currency] && !helpVisible">

							<div class="closePositionContainer">

								<button class="button button-stable position-undo ad-single ads" ng-class="{'undo-disabled': !isUndoEnabled}" ng-click="isUndoEnabled && undoTransaction(currency, true)"><span class="bind-rate" bind="undoCountdown"></span><t>Cancel</t></button>
								<button class="button button-stable stop-loss-switch" ng-click="startTransaction(currency, true, 'manualClick')"><t>Close If</t></button>
								<button class="button button-stable close-position" ng-class="{'button-close-thinking': positionClosing[currency]}" ng-click="closePosition(currency)"><span class="close-pos-label"><t>Close</t></span></button>
							</div>

							<div class="stopLossContainer">
								<div class="stoploss-button-container">
									<button class="button button-stable stoploss-ok" ng-click="cancelTransaction(currency); updateStopLoss(currency);"><t>Done</t></button>
								</div>

								<div class="opentrade-button-shade"></div>

								<div class="stopLossMenu if-transStarted" click-outside="cancelTransaction(currency)" outside-if-not="stopLossContainer">

									<div class="row">
										<div class="col col-50 loss">
											<div class="row">
												<div class="col col-80">
													<span class="stoploss-label"><t>Stop loss:</t></span>
												</div>
												<div class="col col-20 loss-limit">
													<span ng-if="tempStopLoss.loss > 0">
														- ${{ formattedStopLossLoss }} <span class="stoploss-sep">|</span> - {{formattedProcentStopLoss.loss}}%
													</span>
													<span ng-if="tempStopLoss.loss == 0"><t>OFF</t></span>
												</div>
											</div>

											<div class="row">
												<div class="col col-11">
													<span class="stoploss-changer decrease loss" ng-click="changeStopLoss('loss', 'decrease', minStopLoss[currency][0]);"><span>-</span></span>
												</div>
												<div class="col col-78">
													<div class="item range" ng-class="{'range-zero': tempStopLoss.loss == 0}">
														<input type="range" min="{{ minStopLoss[currency][0] }}" max="100" ng-model="tempStopLoss.loss" ng-change="updateFormattedStoploss()">
													</div>
												</div>
												<div class="col col-11">
													<span class="stoploss-changer increase loss" ng-click="changeStopLoss('loss', 'increase', minStopLoss[currency][0]);"><span>+</span></span>
												</div>
											</div>
										</div>
										<div class="col col-50 profit">
											<div class="row stoploss">
												<div class="col col-80 close-when">
													<span class="stoploss-label"><t>Take profit:</t></span>
												</div>
												<div class="col col-20 profit-limit">
													<span ng-if="tempStopLoss.profit > 0">
														+ ${{ formattedStopLossProfit }} <span class="stoploss-sep">|</span> + {{formattedProcentStopLoss.profit}}%
													</span>
													<span ng-if="tempStopLoss.profit == 0"><t>OFF</t></span>
												</div>
											</div>

											<div class="row">
												<div class="col col-11">
													<span class="stoploss-changer decrease profit" ng-click="changeStopLoss('profit', 'decrease', minStopLoss[currency][1]);"><span>-</span></span>
												</div>
												<div class="col col-78">
													<div class="item range" ng-class="{'range-zero': tempStopLoss.profit == 0}">
														<input type="range" min="{{ minStopLoss[currency][1] }}" max="100" ng-model="tempStopLoss.profit" ng-change="updateFormattedStoploss()">
													</div>
												</div>
												<div class="col col-11">
													<span class="stoploss-changer increase profit" ng-click="changeStopLoss('profit', 'increase', minStopLoss[currency][1]);"><span>+</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="if-closed if-online" ng-if="!helpVisible">
						<div class="market-closed if-online marked-closed-real">
							<div class="closed-bar">
								<span style="position: relative;">
									<t>Market is closed! Opens in</t> <span id="until-market-open"></span>
									<span class="select-other" ng-click="toggleAssetSelector()"><t>You can select<span class="other-assets"></span>other assets to trade</t></span>
								</span>
							</div>
						</div>
					</div>

				</div>

				<div class="position-result" ng-if="positionAlert">
					<div class="dollar-bg" ng-class="{'negative': tradeValue < 0}">
						<span class="left-top"></span>
						<span class="left-bottom"></span>
						<span class="right"></span>
					</div>
					<div class="logo asset-{{positionAlert.pair}}">
						<span class="asset"></span>
					</div>
					<p class="profit-text" ng-if="tradeValue >= 0"><t>Profit</t><span class="icon icon-happy"></span></p>
					<p class="profit-text" ng-if="tradeValue < 0"><t>Loss</t><span class="icon icon-sad"></span></p>
					<p class="profit-value" ng-class="{'negative': tradeValue < 0}">{{(tradeValue >= 0 ? '+ ' : '- ')}}${{positionAlert.tradeValue}}</p>
					<div class="bottom-part">
						<p class="app-name">GoForex.app</p>
						<p class="position-closed"><t>Position Closed</t></p>
						<div class="position-data">
							<div class="column">
								<span>{{getSymbolName(positionAlert.pair)}}</span>
								<span><t>Open</t></span>
								<span><t>Closed</t></span>
								<span><t>Invested</t></span>
								<span><t>Leverage</t></span>
								<span><t>Time</t></span>
								<span><t>Spread</t></span>
							</div>
							<div class="column">
								<span>{{(positionAlert.type == 'buy' ? 'Long' : 'Short')}}</span>
								<span>{{getSymbolPricePrefix(positionAlert.pair) + ' '}}{{positionAlert.openPrice}}{{' ' + getSymbolPriceSuffix(positionAlert.pair) }}</span>
								<span>{{getSymbolPricePrefix(positionAlert.pair) + ' '}}{{positionAlert.closePrice}}{{' ' + getSymbolPriceSuffix(positionAlert.pair) }}</span>
								<span><t>$ {{positionAlert.amount}}</t></span>
								<span><t>x{{positionAlert.leverage}}</t></span>
								<span><t>{{positionAlert.time}}</t></span>
								<span><t>{{positionAlert.spread}}</t></span>
							</div>
						</div>
					</div>

					<div class="button-container">
						<button class="button button-share" ng-if="tradeValue >= 0" ng-click="shareResult()"><t>Share</t></button>
						<button class="button button-learn" ng-if="tradeValue < 0" ng-click="openStrategiesLesson()"><t>Learn Strategies</t></button>
						<button class="button button-close" ng-click="closePositionResult()"><t>OK</t></button>
					</div>
				</div>

				<div class="time-frames" ng-class="{'trading-style-enabled': timeFramesCategory, 'chart-description-visible': (!chartDescriptionClosed && !timeFramesCategory)}" click-outside="toggleTimeFrames(true)" outside-if-not="toggle-setting, icon-reset, time-frames, chartPeriods, single" drag-down close="toggleTimeFrames(true)">
					<div class="close" ng-click="toggleTimeFrames(true)"></div>
					<span class="dash"></span>

					<h2><t>Time Frames</t></h2>
					<div class="trading-style-selection">
						<div ng-click="setTimeFramesCategory(0, true)" class="trading-style" ng-class="{'selected': timeFramesCategory == 0}"><t>Default</t></div>
						<div ng-click="setTimeFramesCategory(1)" class="trading-style by-style" ng-class="{'selected': timeFramesCategory == 1}"><t>Trader Styles</t><sup>TM</sup></div>
					</div>

					<div ng-if="timeFramesCategory == 0">
						<div class="period" ng-repeat="p in periods track by $index" ng-class="{'active': currentPeriod == $index}" ng-click="setPeriod($index, true)">
							<span>{{p.label}}</span>
						</div>
						<div class="chart-type-description" ng-show="!chartDescriptionClosed">
							<div class="close-descr" ng-click="closeChartDescription()"></div>
							<div class="icon-lightbulb"></div>
							<div class="descr" ng-if="chartType == 'line'"><t>A <b>line chart</b><span class="icon icon-line"></span>uses closing prices, they reduce noise from less critical times in the trading day, such as the open, high, and low prices.</t></div>
							<div class="descr" ng-if="chartType == 'candlestick'"><t>A <b>candle chart</b><span class="icon icon-candlestick"></span>shows four price points (open, close, high, and low) throughout the period of time you select</t></div>
						</div>
					</div>

					<div ng-if="timeFramesCategory == 1">
						<div class="style type-{{ style.type }}" ng-repeat="style in tradingStyles track by $index" ng-class="{'enabled': chosenStyle[$index]}">
							<ion-toggle ng-model="chosenStyle[$index]" class="toggle-setting disabled-events" ng-click="toggleStyle($index, $event)"></ion-toggle>
							<p class="name">{{style.name}}</p>
							<p class="description">{{style.description}}</p>
							<div class="period" ng-repeat="p in style.periods track by $index" ng-class="{'active': currentPeriod == style.periods[$index]}" ng-click="setType(style.type); setPeriod(p)">
								<span>{{periods[p].label}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="chart-tools" drag-down close="toggleChartTools()">
					<div class="close" ng-click="toggleChartTools()"></div>
					<span class="dash"></span>

					<h2><t>Technical Indicators</t></h2>
					<div class="technical-indicators">
						<div class="indicator {{tool.id}}" ng-repeat="tool in technicalIndicators track by $index" ng-if="tool.func != 'compare'" ng-click="tool.func && toggleTA($index)" ng-class="{'active': chartScope.techAnalysis[tool.func], 'beta': (tool.id == 'vol' && 0)}">
							<span class="icon"></span>
							<span class="name">{{tool.name}}</span>
						</div>
					</div>
					<div class="description">
						<span class="arrow pos-{{arrowPosition}}"></span>
						<p ng-bind-html="technicalIndicators[arrowPosition].description"></p>
					</div>
				</div>

			</div>
		</ion-slide>

	</ion-slide-box>

</ion-content>
</ion-view>