<ion-view>
  <ion-content has-bouncing="false" id="analyze" overflow-scroll="true" ng-class="{'show-content': showContent}">

    <div class="case-introduction cycle-{{introScreenCycle}}" ng-if="(casesState == 'intro' && isUserPro) || (casesState == 'intro' && introScreenCycle < 2)" ng-class="{'not-en': currentLang !== 'en'}">
      <div ng-if="introScreenCycle == 0">
        <h1><t>WHERE WOULD<br>YOU BUY?</t></h1>
        <img src="img/analyze/quiz-intro-0.png" />
        <h2><t>Master the past,<br>predict the future.</t></h2>
      </div>
      <div ng-if="introScreenCycle == 1">
        <h1><t>WOULD YOU<br>INVEST?</t></h1>
        <img src="img/analyze/quiz-intro-1.png" class="bottom-padding"/>
      </div>
      <div ng-if="introScreenCycle == 2">
        <h1><t>WHERE WOULD<br>YOU WAIT?</t></h1>
        <img src="img/analyze/quiz-intro-2.png" class="bottom-padding"/>
      </div>
      <p><t>By analysing historical trades, you will:</t></p>
      <ul>
        <li><t>Identify future profit opportunities</t></li>
        <li><t>Lower the risk of losing money</t></li>
        <li><t>Learn trading <b>2.5x faster</b></t></li>
      </ul>
      <button class="button button-calm" ng-click="startCases()"><t>Let's go</t></button>
      <!-- <span class="update-notice"><t>New Case studies are added weekly - <b>Updated</b> </t><b>{{lastCasesUpdate || 'today'}}</b></span> -->
    </div>

    <div class="case-introduction pro-ad" ng-if="(introScreenCycle >= 2 && !isUserPro)">
      <h1 class="{{currentLang}}"><t>DISCOVER<br>THE WORLD'S BEST<br>COLLECTION!</t></h1>
      <img src="img/analyze/quiz-intro-go-pro.png" />
      <p><t><b>Subscribe to</b><span class="icon-pro"></span> version to get access to exceptional case studies and regular updates with new additions.</t></p>
      <div class="go-pro-button-wrapper">
        <button class="pro-monthly-button" ng-click="buyPro('monthly')"><b>{{defaultOffers['monthly'].priceString || '$12.90'}}/</b> <t>Monthly</t></button>
        <button class="pro-lifetime-button" ng-click="buyPro('lifetime')"><span class="limited"><t>Limited</t></span><b>{{defaultOffers['lifetime'].priceString || '$61.50'}}/</b> <t>Lifetime</t></button>
      </div>
      <span class="pro-notice"><t>You can easily cancel anytime</t></span>
    </div>

    <div class="case-content" ng-if="casesState == 'case'">
      <div class="progress">
        <div class="progress-bar"><div class="progress-bar-fill" style="width: {{(currentCasesProgress + 1)/maxCases*100 | number : 2}}%"></div></div>
        <span class="progress-text">{{currentCasesProgress + 1}}/{{maxCases}}</span>
      </div>
      <div class="updated-case" ng-if="caseStudies[caseStudiesOrder[caseIdx]].updated && currentCaseState != 2"><t>updated</t></div>
      <img ng-src="{{caseStudiesImages[caseStudiesOrder[caseIdx] + '-case']}}" ng-show="currentCaseState == 0" />
      <img ng-src="{{caseStudiesImages[caseStudiesOrder[caseIdx] + '-caseh']}}" ng-show="currentCaseState == 1" />
      <img ng-src="{{caseStudiesImages[caseStudiesOrder[caseIdx] + '-casee']}}" ng-show="currentCaseState == 2" />
      <div class="hint-toggler" ng-if="currentCaseState != 2">
        <div class="toggler" ng-class="{'toggler-on': currentCaseState == 1}" ng-click="toggleHint()"><span class="toggler-inside">{{(currentCaseState ? 'ON' : 'OFF')}}</span></div>
        <span class="hint-text"><t>Turn {{(currentCaseState ? 'off' : 'on')}} technical indicators</t></span>
      </div>
      <div class="case-question" ng-show="currentCaseState == 0 || currentCaseState == 1" ng-bind-html="caseStudies[caseStudiesOrder[caseIdx]].q"></div>
      <div class="case-text" ng-show="currentCaseState == 2" ng-bind-html="caseStudies[caseStudiesOrder[caseIdx]].e"></div>

      <div class="answer-buttons" ng-show="currentCaseState == 0 || currentCaseState == 1">
        <button class="button button-red" ng-click="answerCase(0)">{{caseStudies[caseStudiesOrder[caseIdx]].a[0]}}</button>
        <button class="button button-green" ng-click="answerCase(1)">{{caseStudies[caseStudiesOrder[caseIdx]].a[1]}}</button>
      </div>

      <div class="answer-buttons" ng-show="currentCaseState == 2 && userAnswer == 0">
        <button class="button button-red answered"><span class="is-answer-correct" ng-class="{'correct': answerCorrect}"></span>{{caseStudies[caseStudiesOrder[caseIdx]].a[0]}}</button>
        <button class="button button-next" ng-click="nextCase()" ng-if="(currentCasesProgress + 1) < maxCases"><t>Next</t></button>
        <button class="button button-next" ng-click="finishCurrentCases()" ng-if="(currentCasesProgress + 1) >= maxCases"><t>Finish</t></button>
      </div>

      <div class="answer-buttons" ng-show="currentCaseState == 2 && userAnswer == 1">
        <button class="button button-next" ng-click="nextCase()" ng-if="(currentCasesProgress + 1) < maxCases"><t>Next</t></button>
        <button class="button button-next" ng-click="finishCurrentCases()" ng-if="(currentCasesProgress + 1) >= maxCases"><t>Finish</t></button>
        <button class="button button-green answered" ng-class="{'correct': answerCorrect}"><span class="is-answer-correct" ng-class="{'correct': answerCorrect}"></span>{{caseStudies[caseStudiesOrder[caseIdx]].a[1]}}</button>
      </div>
    </div>

    <div class="cases-finished" ng-if="casesState == 'finished-part'">
      <h1 ng-bind-html="casesResultTitle"></h1>
      <div class="profile-picture" ng-if="!user.picture" ng-class="{'terrible': correctAnswers < 6}">
        <img ng-src="img/avatars/{{ currentAvatar }}" ng-if="!user.picture" />
        <img ng-src="{{ user.picture }}" referrerpolicy="no-referrer" ng-if="user.picture"/>
      </div>
      <div class="results">
        <p class="answer-stats">{{correctAnswers}}/{{maxCases}} <t>Correct Answers</t></p>
        <div ng-if="correctAnswers >= 4">
          <p><t>If these were your real trades, you would have turned <b>~ $1000</b> into <span class="green">~ ${{caseProfits}}</span></t></p>
          <p><b><t>With leverage</t></b></p>
          <div class="leverage-buttons">
            <button class="button" ng-class="{'active': caseLeverage == 1}" ng-click="changeCaseLeverage(1)">1x</button>
            <button class="button" ng-class="{'active': caseLeverage == 5}" ng-click="changeCaseLeverage(5)">5x</button>
            <button class="button" ng-class="{'active': caseLeverage == 10}" ng-click="changeCaseLeverage(10)">10x</button>
          </div>
        </div>
        <div ng-if="correctAnswers < 4">
          <p><t>"Success is not about never failing, but about getting up every time you do."</t></p>
          <p><t><b>Richard Branson</b> / Net Worth $7 Billion</t></p>
        </div>
      </div>

      <div class="bottom-buttons">
        <button class="button button-broker" ng-click="openBrokers()" ng-if="correctAnswers >= 6"><t>Ready to try<br>real trading?</t></button>
        <button class="button button-learn" ng-click="openLesson(25)" ng-if="correctAnswers < 6"><t>Learn strategies</t></button>
        <button class="button button-next" ng-click="goToIntroScreen()" ng-if="caseIdx < (caseLength - 1)"><t>Done</t></button>
        <button class="button button-next" ng-click="repeatAll()" ng-if="caseIdx >= (caseLength - 1)"><t>Done</t></button>
      </div>
    </div>

    <!-- whenever pro version gets added, finished-all would/could be the screen that shows up when free quizes are done -->
    <div class="cases-finished finished-all" ng-if="casesState == 'finished-all'">
      <h1><t>WELL DONE<br>TRADER!</t></h1>
      <img src="img/analyze/white-checkmark-green-bg.png"/>
      <p><strong><t>Get ready for 60+ case studies on next update!</t></strong></p>

      <div class="bottom-buttons">
        <button class="button button-broker" ng-click="openBrokers()"><t>Ready to try<br>real trading?</t></button>
        <button class="button button-next" ng-click="openTrading()"><t>Virtual trading</t></button>
      </div>
    </div>
  </ion-content>
</ion-view>