.bcontain {
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center center;
}
.bcover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom-corner {
  border-radius: 0 0 1.33vmin 1.33vmin;
}
.top-corner {
  border-radius: 1.33vmin 1.33vmin 0 0;
}
.ucase {
  text-transform: uppercase;
}
.kbold {
  font-family: KohinoorBold;
  transform: translateZ(0);
}
.ksemibold {
  font-family: KohinoorSemibold;
}
.kregular {
  font-family: KohinoorRegular;
}
.corners-top {
  border-top-left-radius: 1.33vmin;
  border-top-right-radius: 1.33vmin;
}
.corners-bottom {
  border-bottom-left-radius: 1.33vmin;
  border-bottom-right-radius: 1.33vmin;
}
.corners-all {
  border-top-left-radius: 1.33vmin;
  border-top-right-radius: 1.33vmin;
  border-bottom-left-radius: 1.33vmin;
  border-bottom-right-radius: 1.33vmin;
}
.flex-full {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.button.activated {
  overflow: hidden;
}
.button.activated::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.button-red {
  border-radius: 0.344rem;
  background: #e7565a !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-green {
  border-radius: 0.34436rem;
  background: #4baf6f !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-blue {
  border-radius: 0.34436rem;
  background: #2a62ff !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-purple {
  border-radius: 0.34436rem;
  background: #4c5ca7 !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-grey {
  border-radius: 0.34436rem;
  background: #e2e8f1 !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-darkgrey {
  border-radius: 0.34436rem;
  background: #b4b6bb !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.close-popup {
  background-repeat: no-repeat;
  background-image: url(../img/tg/close-x-black.svg);
  background-size: 1.2rem;
  background-position: center;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: inline-block;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 20;
  opacity: 0.8;
}
.close-popup.activated {
  opacity: 1;
  right: 0.25rem;
  top: 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 100%;
  transition: 0.1s background-color ease;
}
body.dark-mode .close-popup {
  background-image: url(../img/tg/close-x-darkmode.svg) !important;
}
body.dark-mode .darktext {
  color: #B9BED4 !important;
}
body.dark-mode .darktext * {
  color: #B9BED4 !important;
}
body.dark-mode .darktext .button span {
  color: #181D2C !important;
}
.placeholder-color {
  background-color: #f0f0f0;
  color: #f0f0f0;
}
body.dark-mode .placeholder-color {
  background-color: #424555 !important;
  color: #424555 !important;
}
body.dark-mode .darktext-shallow {
  color: #B9BED4 !important;
}
body.dark-mode .darkbg {
  background-color: #181D2C !important;
}
body.dark-mode .darkborder {
  border: 1px solid #1F2639;
}
body.dark-mode .darkborder-brighter {
  border: 1px solid #B9BED4;
}
.mixin-sale-countdown {
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  line-height: normal;
  border: 1px solid #000000;
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
  font-family: 'RobotoBold';
  font-size: 0.7rem;
  color: #000000 !important;
  width: 5rem;
}
body.dark-mode .mixin-sale-countdown {
  background-color: #3B5BFF;
  border: 1px solid #3B5BFF;
}
.account-login {
  position: fixed;
  bottom: 0;
  color: black;
  background-color: white;
  background-image: none;
  border-radius: 1.4rem;
  border: 1px solid #C9C9C9;
  text-align: center;
  width: calc(100% - 0.4rem);
  z-index: 14;
  height: auto;
  transform: translateY(95vmin);
  transition: transform 0.3s ease-in-out;
  font-family: 'InterRegular';
  margin: 0.2rem;
  padding: 0;
}
.account-login p {
  font-size: 0.85rem;
  line-height: 1rem;
  margin-bottom: 1.55rem;
  margin-top: -0.15rem;
}
.account-login strong {
  font-family: 'InterBold';
  font-weight: unset;
}
.account-login.open {
  transform: translateY(0px);
  padding: 3rem 0.7rem;
}
.account-login .close-login {
  background-image: url(../img/tg/close-x-black.svg);
  background-size: 1.3rem;
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}
.account-login .login-buttons {
  margin-top: 1em;
  overflow: hidden;
  transition: 0.2s;
  max-height: 500px;
}
.account-login .btn {
  border: 1.3px solid #DDDDDD;
  border-radius: 0.1rem;
  padding: 0.68rem;
  text-align: center;
  margin-bottom: 0.8rem;
  font-family: 'RobotoMedium';
  font-size: 0.71rem;
  object-fit: contain;
  background-repeat: no-repeat;
}
.account-login .btn.btn-google {
  background-image: url(../img/google-logo.svg);
  background-size: 1.1rem;
  background-position: 0.7rem center;
}
.account-login .btn.btn-apple {
  background-image: url(../img/apple-logo.svg);
  background-size: 0.93rem;
  background-color: #000;
  color: #fff;
  border: 1.3px solid #000;
  background-position: 0.75rem center;
}
.account-login .btn.btn-facebook {
  background-image: url(../img/icon-facebook.svg);
  background-size: 1.4rem;
  background-position: 0.6rem center;
}
.account ion-nav-bar .ion-account {
  display: none !important;
}
.account .account-login-toggler {
  position: fixed;
  bottom: -0.05rem;
  right: 0;
  left: 0;
  height: 3rem;
  background-color: rgba(226, 241, 254, 0.85);
}
body.dark-mode .account .account-login-toggler {
  color: #B9BED4 !important;
}
body.dark-mode .account .account-login-toggler * {
  color: #B9BED4 !important;
}
body.dark-mode .account .account-login-toggler .button span {
  color: #181D2C !important;
}
body.dark-mode .account .account-login-toggler {
  background-color: #242836;
}
.account .account-login-toggler .top-self-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.account .account-login-toggler .top-self-inner .top-badge {
  margin: 0.3rem;
  min-width: 2rem;
  max-width: 2rem;
}
.account .account-login-toggler .top-self-inner .top-avatar {
  flex: unset;
  max-width: 2rem;
  text-align: center;
  padding: 0 !important;
  position: relative;
  min-width: 2.2rem;
}
.account .account-login-toggler .top-self-inner .top-avatar td {
  justify-content: center;
}
.account .account-login-toggler .top-self-inner .top-avatar img {
  outline-style: solid;
  outline-color: #ffffff;
  outline-width: 1.5px;
}
.account .account-login-toggler .top-self-inner .top-avatar .placeholder {
  background: #f0f0f0;
  border-radius: 100%;
  width: 5.2vh;
  height: 5.2vh;
  display: inline-block;
  position: static;
  vertical-align: middle;
}
.account .account-login-toggler .top-self-inner .top-avatar .placeholder img {
  opacity: 0;
}
.account .account-login-toggler .top-self-inner .top-details {
  margin-right: 1.1rem;
  margin-left: 1rem;
}
.account .account-login-toggler .top-self-inner .top-details .sign-up-text {
  font-family: 'RobotoRegular';
  font-size: 0.58rem;
  margin-bottom: -0.2rem;
  margin-left: 0.5rem;
}
.account .account-login-toggler .top-self-inner .top-details .sign-up-text .link {
  color: #1717e4;
  text-decoration: underline;
}
.account .scroll {
  padding: 0;
}
.account .scroll::-webkit-scrollbar {
  display: none;
}
.account .disable-scroll .scroll {
  overflow: hidden;
}
.account .account-info {
  width: 100%;
  position: relative;
  background-image: url(../img/tg/bg-account.svg);
  background-size: 16.5rem;
  background-position: center 15%;
  background-repeat: no-repeat;
}
body.dark-mode .account .account-info {
  background-image: url(../img/tg/darkmode/bg-account.svg);
}
.account .account-info .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding-top: 0.6rem;
  position: relative;
  height: 10.8rem;
}
body.dark-mode .account .account-info .user-info {
  color: #B9BED4 !important;
}
body.dark-mode .account .account-info .user-info * {
  color: #B9BED4 !important;
}
body.dark-mode .account .account-info .user-info .button span {
  color: #181D2C !important;
}
.account .account-info .user-info .profile-pic {
  width: 3.3rem;
  height: 3.3rem;
  z-index: 3;
  position: relative;
}
.account .account-info .user-info .profile-pic .pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.account .account-info .user-info .profile-pic .pic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid white;
}
body.dark-mode .account .account-info .user-info .profile-pic .pic img {
  border: 2px solid #B9BED4;
}
.account .account-info .user-info .profile-pic .change-avatar {
  background-image: url(../img/tg/change-avatar.svg);
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: -0.2rem;
  z-index: 5;
}
.account .account-info .user-info .profile-pic .change-avatar.right-side {
  bottom: 0vmin;
  right: -0.9vmin;
}
body.is-pro .account .account-info .user-info .profile-pic .icon-pro-badge {
  background-image: url(../img/tg/pro-badge.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.3rem;
  right: -0.3rem;
}
.account .account-info .user-info .user-tag {
  font-family: 'InterBold';
  font-size: 1.2rem;
}
.account .account-info .user-info .user-tag .user-country {
  font-family: 'InterRegular';
  font-size: 0.65rem;
  text-align: center;
  margin-top: 0.2rem;
  height: 1rem;
}
.account .account-info .user-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 4.6rem;
  border-radius: 0.45rem;
  background: #CCE4FA;
  margin-inline: 1rem;
  margin-top: -0.4rem;
  color: black;
}
body.dark-mode .account .account-info .user-stats {
  background: #242836;
  color: #B9BED4;
}
.account .account-info .user-stats .stat-portfolio,
.account .account-info .user-stats .stat-return {
  border-right: 0.05rem solid #ffffff;
  height: 3rem;
}
body.dark-mode .account .account-info .user-stats .stat-portfolio,
body.dark-mode .account .account-info .user-stats .stat-return {
  border-right-color: #181D2C;
}
.account .account-info .user-stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}
.account .account-info .user-stats .stat .type,
.account .account-info .user-stats .stat .value {
  font-family: 'InterRegular';
  font-size: 0.65rem;
  line-height: 1.5;
  text-align: center;
}
.account .account-info .user-stats .stat .type {
  line-height: 1em;
  margin-top: 0.3em;
  display: flex;
  align-items: center;
}
.account .account-info .user-stats .stat .type:before {
  content: '';
  background-image: url(../img/tg/acc-portfolio.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  margin-right: 0.3rem;
}
body.dark-mode .account .account-info .user-stats .stat .type:before {
  background-image: url(../img/tg/darkmode/acc-portfolio.svg);
}
.account .account-info .user-stats .stat .value {
  font-size: 0.75rem;
  font-family: 'InterBold';
  font-variant-numeric: tabular-nums;
}
.account .account-info .user-stats .stat.stat-return .type:before {
  background-image: url(../img/tg/acc-return.svg);
}
body.dark-mode .account .account-info .user-stats .stat.stat-return .type:before {
  background-image: url(../img/tg/darkmode/acc-return.svg);
}
.account .account-info .user-stats .stat.stat-trades .type:before {
  background-image: url(../img/tg/acc-trades.svg);
}
body.dark-mode .account .account-info .user-stats .stat.stat-trades .type:before {
  background-image: url(../img/tg/darkmode/acc-trades.svg);
}
.account .trade-history {
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.account .trade-history h2 {
  font-family: 'InterBold';
  font-size: 0.85rem;
  color: #333;
  text-align: center;
}
body.dark-mode .account .trade-history h2 {
  color: #B9BED4 !important;
}
body.dark-mode .account .trade-history h2 * {
  color: #B9BED4 !important;
}
body.dark-mode .account .trade-history h2 .button span {
  color: #181D2C !important;
}
.account .trade-history .placeholder {
  display: none;
}
.account .trade-history.loading .combined-day {
  display: none;
}
.account .trade-history.loading .placeholder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.account .trade-history.loading .placeholder div {
  background-color: #f0f0f0;
  color: #f0f0f0;
  height: 2.3rem;
  display: inline-block;
  border-radius: 0.5rem;
}
body.dark-mode .account .trade-history.loading .placeholder div {
  background-color: #424555 !important;
  color: #424555 !important;
}
.account .trade-history.loading .placeholder .day {
  height: 1.2rem;
  width: 100%;
  border-radius: 0.2rem;
}
.account .trade-history .combined-day {
  padding: 0.4rem 1rem;
  font-family: 'InterBold';
}
.account .trade-history .combined-day .day {
  font-family: 'InterBold';
  font-size: 0.85rem;
  padding: 1.2rem 0;
  width: 100%;
  display: block;
}
body.dark-mode .account .trade-history .combined-day .day {
  color: #B9BED4 !important;
}
.account .trade-history .combined-day .day .performance {
  color: #1AAC4E;
  margin-left: 0.3rem;
}
.account .trade-history .combined-day .day .performance.negative {
  color: #F00500;
}
.account .trade-history .combined-day .trade {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 0.9rem;
}
.account .trade-history .combined-day .trade .asset {
  display: flex;
  height: 2.2rem;
  width: 2.2rem;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: 0.5px solid #e8e8e8;
}
.account .trade-history .combined-day .trade .info {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3vmin;
}
body.dark-mode .account .trade-history .combined-day .trade .info {
  color: #B9BED4 !important;
}
.account .trade-history .combined-day .trade .info .asset-name {
  font-size: 0.6rem;
  color: #000;
  margin-bottom: 0.3rem;
}
body.dark-mode .account .trade-history .combined-day .trade .info .asset-name {
  color: #B9BED4 !important;
}
.account .trade-history .combined-day .trade .info .asset-name .type {
  color: #1AAC4E;
}
.account .trade-history .combined-day .trade .info .asset-name .type.sell {
  color: #F00500;
}
.account .trade-history .combined-day .trade .info .amount,
.account .trade-history .combined-day .trade .info .price {
  font-size: 0.6rem;
  line-height: 1.2;
}
.account .trade-history .combined-day .trade .performance {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  font-size: 0.6rem;
  line-height: 1.35;
  color: #1AAC4E;
  flex-direction: column;
  font-family: 'InterBold';
}
.account .trade-history .combined-day .trade .performance.loss {
  color: #F00500;
}
.account .trade-history .combined-day .trade .performance .value-undo {
  color: #8b8b8b;
  text-transform: uppercase;
}
.account .trade-history .no-trades-yet {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.account .trade-history .no-trades-yet p {
  text-align: center;
  font-size: 0.7rem;
}
body.dark-mode .account .trade-history .no-trades-yet p {
  color: #B9BED4 !important;
}
body.dark-mode .account .trade-history .no-trades-yet p * {
  color: #B9BED4 !important;
}
body.dark-mode .account .trade-history .no-trades-yet p .button span {
  color: #181D2C !important;
}
.account .trade-history .no-trades-yet .image-point-to-trade {
  background-image: url(../img/tg/no-trade-history.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  flex: 1;
}
body.dark-mode .account .trade-history .no-trades-yet .image-point-to-trade {
  background-image: url(../img/tg/darkmode/no-trade-history.svg);
}
.account .trade-history .more-history {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin-bottom: 7vh;
}
.account .loading-data {
  display: flex;
  height: 30vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.account .loading-data .loading {
  overflow: visible;
}
.account .avatars {
  display: block;
  height: 69vh;
  transform: translateY(calc(70vh));
  transition: transform 0.4s ease-in-out;
  border: 0;
  background-color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 15;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.account .avatars::-webkit-scrollbar {
  display: none;
}
.account .avatars.open {
  transform: translateY(0px);
  pointer-events: auto;
}
.account .avatars.open::-webkit-scrollbar {
  display: none;
}
.account .avatars .close-avatars {
  background-image: url(../img/tg/close-x-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  background-size: 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
}
.account .avatars h2 {
  font-family: 'InterMedium';
  font-size: 0.8rem;
  margin-top: 2rem;
  text-align: center;
  color: #000000;
}
.account .avatars .avatar-list {
  margin-top: 1.5rem;
  display: block;
  padding-bottom: 2vh;
  float: left;
}
.account .avatars .avatar-list .avatar {
  width: 16vmin;
  height: 16vmin;
  float: left;
  margin-left: 3vmin;
  margin-bottom: 5vmin;
}
.account .avatars .avatar-list .avatar img {
  width: 16vmin;
  height: 16vmin;
}
.account .show-login .image-point-to-trade {
  background-size: 0.5rem !important;
  background-position-y: top !important;
}
