.bcontain {
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center center;
}
.bcover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom-corner {
  border-radius: 0 0 1.33vmin 1.33vmin;
}
.top-corner {
  border-radius: 1.33vmin 1.33vmin 0 0;
}
.ucase {
  text-transform: uppercase;
}
.kbold {
  font-family: KohinoorBold;
  transform: translateZ(0);
}
.ksemibold {
  font-family: KohinoorSemibold;
}
.kregular {
  font-family: KohinoorRegular;
}
.corners-top {
  border-top-left-radius: 1.33vmin;
  border-top-right-radius: 1.33vmin;
}
.corners-bottom {
  border-bottom-left-radius: 1.33vmin;
  border-bottom-right-radius: 1.33vmin;
}
.corners-all {
  border-top-left-radius: 1.33vmin;
  border-top-right-radius: 1.33vmin;
  border-bottom-left-radius: 1.33vmin;
  border-bottom-right-radius: 1.33vmin;
}
.flex-full {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.button.activated {
  overflow: hidden;
}
.button.activated::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.button-red {
  border-radius: 0.344rem;
  background: #e7565a !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-green {
  border-radius: 0.34436rem;
  background: #4baf6f !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-blue {
  border-radius: 0.34436rem;
  background: #2a62ff !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-purple {
  border-radius: 0.34436rem;
  background: #4c5ca7 !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-grey {
  border-radius: 0.34436rem;
  background: #e2e8f1 !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-darkgrey {
  border-radius: 0.34436rem;
  background: #b4b6bb !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.close-popup {
  background-repeat: no-repeat;
  background-image: url(../img/tg/close-x-black.svg);
  background-size: 1.2rem;
  background-position: center;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: inline-block;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 20;
  opacity: 0.8;
}
.close-popup.activated {
  opacity: 1;
  right: 0.25rem;
  top: 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 100%;
  transition: 0.1s background-color ease;
}
body.dark-mode .close-popup {
  background-image: url(../img/tg/close-x-darkmode.svg) !important;
}
body.dark-mode .darktext {
  color: #B9BED4 !important;
}
body.dark-mode .darktext * {
  color: #B9BED4 !important;
}
body.dark-mode .darktext .button span {
  color: #181D2C !important;
}
.placeholder-color {
  background-color: #f0f0f0;
  color: #f0f0f0;
}
body.dark-mode .placeholder-color {
  background-color: #424555 !important;
  color: #424555 !important;
}
body.dark-mode .darktext-shallow {
  color: #B9BED4 !important;
}
body.dark-mode .darkbg {
  background-color: #181D2C !important;
}
body.dark-mode .darkborder {
  border: 1px solid #1F2639;
}
body.dark-mode .darkborder-brighter {
  border: 1px solid #B9BED4;
}
.mixin-sale-countdown {
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  line-height: normal;
  border: 1px solid #000000;
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
  font-family: 'RobotoBold';
  font-size: 0.7rem;
  color: #000000 !important;
  width: 5rem;
}
body.dark-mode .mixin-sale-countdown {
  background-color: #3B5BFF;
  border: 1px solid #3B5BFF;
}
body.dark-mode {
  background-color: #181D2C;
}
body.dark-mode .view-container,
body.dark-mode .pane,
body.dark-mode .view,
body.dark-mode ion-content,
body.dark-mode ion-header-bar.bar,
body.dark-mode #navigation-wrapper,
body.dark-mode .navigation-wrapper-stub,
body.dark-mode .bottom-container,
body.dark-mode .bottom-container .buysell-container .buysell-buttons,
body.dark-mode .chart-tools,
body.dark-mode .time-frames,
body.dark-mode .open-transaction,
body.dark-mode .stopLossContainer,
body.dark-mode .position-menu,
body.dark-mode .closePositionContainer,
body.dark-mode ion-view ion-content #asset-select,
body.dark-mode ion-view ion-content #asset-select .asset-top-static,
body.dark-mode #asset-selector-close-button,
body.dark-mode .range input,
body.dark-mode .book-read,
body.dark-mode .book-read .book-index {
  background-color: #181D2C !important;
}
body.dark-mode .book-read,
body.dark-mode .book-read .book-index {
  color: #B9BED4 !important;
}
body.dark-mode .persistant-tab-title,
body.dark-mode ion-header-bar.bar-instruments .swiper-container .swiper-slide p,
body.dark-mode ion-view ion-content #asset-select,
body.dark-mode .stoploss-label {
  color: #B9BED4 !important;
}
body.dark-mode .persistant-tab-title *,
body.dark-mode ion-header-bar.bar-instruments .swiper-container .swiper-slide p *,
body.dark-mode ion-view ion-content #asset-select *,
body.dark-mode .stoploss-label * {
  color: #B9BED4 !important;
}
body.dark-mode ion-view ion-content #asset-select .asset-top-static {
  background: transparent;
  border-top-color: transparent;
}
body.dark-mode #app.state-trans-started #asset-select {
  border-color: #424555;
}
body.dark-mode .navigation-wrapper-stub,
body.dark-mode .chart-tools,
body.dark-mode .time-frames,
body.dark-mode .open-transaction,
body.dark-mode .stopLossContainer {
  border-color: #424555 !important;
}
body.dark-mode .navigation-wrapper-stub *,
body.dark-mode .chart-tools *,
body.dark-mode .time-frames *,
body.dark-mode .open-transaction *,
body.dark-mode .stopLossContainer * {
  color: #B9BED4 !important;
}
body.dark-mode .navigation-wrapper-stub .button span,
body.dark-mode .chart-tools .button span,
body.dark-mode .time-frames .button span,
body.dark-mode .open-transaction .button span,
body.dark-mode .stopLossContainer .button span {
  color: #181D2C !important;
}
body.dark-mode #sections .section * {
  color: #B9BED4 !important;
}
body.dark-mode .instrument-header * {
  border-color: #1F2639;
}
body.dark-mode .instrument-name-text {
  color: #A5ADD4 !important;
}
body.dark-mode .currentPeriod,
body.dark-mode .chartPeriodSelect span {
  color: #656C8B;
}
body.dark-mode .button.button-balanced,
body.dark-mode .button.button-stable,
body.dark-mode .popup-buttons .button,
body.dark-mode .stopLossMenu .stoploss-changer span {
  color: #181D2C !important;
}
body.dark-mode .currentPeriod.single div,
body.dark-mode .chartPeriodSelect span.single div {
  background-image: url(../img/tg/darkmode/triangle-down.svg);
}
body.dark-mode .buysell-menu button .icon-buy,
body.dark-mode .open-transaction button .icon-buy {
  background-image: url(../img/tg/darkmode/arrow-buy.svg);
}
body.dark-mode .buysell-menu button .icon-sell,
body.dark-mode .open-transaction button .icon-sell {
  background-image: url(../img/tg/darkmode/arrow-sell.svg);
}
body.dark-mode .buysell-menu .button-fx::after,
body.dark-mode .open-transaction .button-fx::after,
body.dark-mode .bottom-container .buysell-container .position-menu .button-fx::after {
  background-image: url(../img/tg/darkmode/button-fx.png);
}
body.dark-mode .buysell-menu .button-fx {
  background-color: #8896B7 !important;
}
body.dark-mode .chartOptionsMenu .chartMenuClose > div.chart-type-candle,
body.dark-mode .chartOptionsMenu .chartTypeOptions > div.chart-type-candle,
body.dark-mode .chartOptionsMenu .chartTAOptions > div.chart-type-candle {
  background-image: url(../img/tg/darkmode/candlestick.svg);
}
body.dark-mode .chartOptionsMenu .chartMenuClose > div.chart-type-line,
body.dark-mode .chartOptionsMenu .chartTypeOptions > div.chart-type-line,
body.dark-mode .chartOptionsMenu .chartTAOptions > div.chart-type-line {
  background-image: url(../img/tg/darkmode/line.svg?);
}
body.dark-mode .asset-select-button {
  background-image: url(../img/tg/darkmode/select-assets.svg);
}
body.dark-mode .ion-navicon span {
  background-image: url(../img/tg/darkmode/hamburger.svg) !important;
}
body.dark-mode #navigation-wrapper.play a.nav-item.play .nav-item-icon,
body.dark-mode .navigation-wrapper-stub.play a.nav-item.play .nav-item-icon {
  background-image: url(../img/tg/darkmode/bottom-trade-active.svg?);
}
body.dark-mode #navigation-wrapper.usertop a.nav-item.analyze .nav-item-icon,
body.dark-mode .navigation-wrapper-stub.usertop a.nav-item.analyze .nav-item-icon {
  background-image: url(../img/tg/darkmode/bottom-explore-active.svg);
}
body.dark-mode #navigation-wrapper.home a.nav-item.home .nav-item-icon,
body.dark-mode .navigation-wrapper-stub.home a.nav-item.home .nav-item-icon {
  background-image: url(../img/tg/darkmode/bottom-home-active.svg);
}
body.dark-mode #navigation-wrapper.lessons a.nav-item.lessons .nav-item-icon,
body.dark-mode .navigation-wrapper-stub.lessons a.nav-item.lessons .nav-item-icon,
body.dark-mode #navigation-wrapper.lessonsread a.nav-item.lessons .nav-item-icon,
body.dark-mode .navigation-wrapper-stub.lessonsread a.nav-item.lessons .nav-item-icon {
  background-image: url(../img/tg/darkmode/bottom-learn-active.svg);
}
body.dark-mode #navigation-wrapper.top a.nav-item.top .nav-item-icon,
body.dark-mode .navigation-wrapper-stub.top a.nav-item.top .nav-item-icon {
  background-image: url(../img/tg/darkmode/bottom-brokers-active.svg);
}
