.bcontain {
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center center;
}
.bcover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom-corner {
  border-radius: 0 0 1.33vmin 1.33vmin;
}
.top-corner {
  border-radius: 1.33vmin 1.33vmin 0 0;
}
.ucase {
  text-transform: uppercase;
}
.kbold {
  font-family: KohinoorBold;
  transform: translateZ(0);
}
.ksemibold {
  font-family: KohinoorSemibold;
}
.kregular {
  font-family: KohinoorRegular;
}
.corners-top {
  border-top-left-radius: 1.33vmin;
  border-top-right-radius: 1.33vmin;
}
.corners-bottom {
  border-bottom-left-radius: 1.33vmin;
  border-bottom-right-radius: 1.33vmin;
}
.corners-all {
  border-top-left-radius: 1.33vmin;
  border-top-right-radius: 1.33vmin;
  border-bottom-left-radius: 1.33vmin;
  border-bottom-right-radius: 1.33vmin;
}
.flex-full {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.button.activated {
  overflow: hidden;
}
.button.activated::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.button-red {
  border-radius: 0.344rem;
  background: #e7565a !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-green {
  border-radius: 0.34436rem;
  background: #4baf6f !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-blue {
  border-radius: 0.34436rem;
  background: #2a62ff !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-purple {
  border-radius: 0.34436rem;
  background: #4c5ca7 !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-grey {
  border-radius: 0.34436rem;
  background: #e2e8f1 !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.button-darkgrey {
  border-radius: 0.34436rem;
  background: #b4b6bb !important;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.close-popup {
  background-repeat: no-repeat;
  background-image: url(../img/tg/close-x-black.svg);
  background-size: 1.2rem;
  background-position: center;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: inline-block;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 20;
  opacity: 0.8;
}
.close-popup.activated {
  opacity: 1;
  right: 0.25rem;
  top: 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 100%;
  transition: 0.1s background-color ease;
}
body.dark-mode .close-popup {
  background-image: url(../img/tg/close-x-darkmode.svg) !important;
}
body.dark-mode .darktext {
  color: #B9BED4 !important;
}
body.dark-mode .darktext * {
  color: #B9BED4 !important;
}
body.dark-mode .darktext .button span {
  color: #181D2C !important;
}
.placeholder-color {
  background-color: #f0f0f0;
  color: #f0f0f0;
}
body.dark-mode .placeholder-color {
  background-color: #424555 !important;
  color: #424555 !important;
}
body.dark-mode .darktext-shallow {
  color: #B9BED4 !important;
}
body.dark-mode .darkbg {
  background-color: #181D2C !important;
}
body.dark-mode .darkborder {
  border: 1px solid #1F2639;
}
body.dark-mode .darkborder-brighter {
  border: 1px solid #B9BED4;
}
.mixin-sale-countdown {
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  line-height: normal;
  border: 1px solid #000000;
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
  font-family: 'RobotoBold';
  font-size: 0.7rem;
  color: #000000 !important;
  width: 5rem;
}
body.dark-mode .mixin-sale-countdown {
  background-color: #3B5BFF;
  border: 1px solid #3B5BFF;
}
.topbrokers .scroll {
  height: 100%;
  padding-inline: 0;
}
.topbrokers .scroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.topbrokers .brokers-content {
  position: relative;
  display: block;
  padding-bottom: 1rem;
  margin-top: 1.8rem;
}
.topbrokers .brokers-header {
  height: 13rem;
  background-image: url(../img/tg/brokers-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-block: 2.3rem;
  margin-inline: 1rem;
  border-radius: 0.7rem;
  position: relative;
  max-height: 35vh;
}
.topbrokers .brokers-title {
  font-family: 'InterBold';
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.9rem;
  margin-bottom: 3.2rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
body.dark-mode .topbrokers .brokers-title {
  color: #B9BED4 !important;
}
body.dark-mode .topbrokers .brokers-title * {
  color: #B9BED4 !important;
}
body.dark-mode .topbrokers .brokers-title .button span {
  color: #181D2C !important;
}
.topbrokers .brokers-title:before {
  content: '';
  background-image: url(../img/tg/laurel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1rem;
  height: 1.2rem;
}
.topbrokers .brokers-title:after {
  content: '';
  background-image: url(../img/tg/laurel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1rem;
  height: 1.2rem;
  transform: scaleX(-1);
}
body.dark-mode .topbrokers .brokers-title:before {
  background-image: url(../img/tg/darkmode/laurel.svg);
}
body.dark-mode .topbrokers .brokers-title:after {
  background-image: url(../img/tg/darkmode/laurel.svg);
}
.topbrokers .icon-verified {
  background-image: url(../img/icon-verified.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 0.7rem;
  height: 0.7rem;
  display: inline-block;
  margin-top: -0.15rem;
  margin-left: 0.2rem;
}
.topbrokers .progress {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 3vh;
}
.topbrokers .progress .progress-bar-bg {
  width: 70%;
  height: 6.4vmin;
  background-color: #46F702;
  border-radius: 6.4vmin;
  display: flex;
}
.topbrokers .progress .progress-bar-bg .progress-bar {
  height: 4.266vmin;
  background-color: #FFFFFF;
  opacity: 0.68;
  border-radius: 4.266vmin;
  display: flex;
  margin: 1.067vmin;
}
.topbrokers .progress .text-progress {
  width: 30%;
  display: flex;
  justify-content: center;
  font-size: 4.8vmin;
  font-family: 'RobotoBlack';
}
.topbrokers .broker-wrapper {
  margin-bottom: 0.9rem;
  margin-inline: 0.5rem;
}
.topbrokers .broker-wrapper.beginners .broker {
  background: unset;
  background-color: #FFFDE3;
}
.topbrokers .broker-wrapper .broker-disclaimer {
  padding-top: 1rem;
  font-size: 0.37rem;
  color: #000000;
  opacity: 0.5;
  font-family: 'RobotoRegular';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.8rem;
}
body.dark-mode .topbrokers .broker-wrapper .broker-disclaimer {
  color: #B9BED4 !important;
}
body.dark-mode .topbrokers .broker-wrapper .broker-disclaimer * {
  color: #B9BED4 !important;
}
body.dark-mode .topbrokers .broker-wrapper .broker-disclaimer .button span {
  color: #181D2C !important;
}
.topbrokers .broker-wrapper .broker {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, #919191, #D6D6D6) border-box;
  border-radius: 0.8rem;
  position: relative;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-block: 0.7rem;
  background: #F3FBFB;
}
body.dark-mode .topbrokers .broker-wrapper .broker {
  background: #242836;
  border: 0.5px solid #424555;
}
body.dark-mode .topbrokers .broker-wrapper .broker.broker-etoro {
  background: #313652;
}
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper {
  color: #B9BED4;
}
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-title,
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-subtitle {
  color: #B9BED4;
}
.topbrokers .broker-wrapper .broker.broker-etoro {
  background: #fffde3;
}
.topbrokers .broker-wrapper .broker .esma {
  position: absolute;
  bottom: -4vmin;
  font-size: 2vmin;
  color: #101522;
  opacity: 0.8;
}
.topbrokers .broker-wrapper .broker .badge-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: -2.2vmin;
  width: 100%;
  height: 4.4vmin;
  justify-content: center;
  gap: 1.6vmin;
}
.topbrokers .broker-wrapper .broker .badge-wrapper .bbadge {
  display: inline-flex;
  font-size: 0.36rem;
  font-family: 'InterRegular';
  text-transform: uppercase;
  white-space: nowrap;
  color: #121212;
  padding: 0.06rem 1rem 0;
  align-items: center;
  position: relative;
  height: 0.85rem;
  z-index: 1;
  border-radius: 1rem;
  background-image: url(../img/badge-winner-bg.png);
  background-size: cover;
  background-position: center;
}
body.dark-mode .topbrokers .broker-wrapper .broker .badge-wrapper .bbadge {
  background-image: url(../img/tg/darkmode/badge-winner-bg.png);
}
body.dark-mode .topbrokers .broker-wrapper .broker .badge-wrapper .bbadge.winner {
  background-image: url(../img/tg/darkmode/best-broker-gold.svg);
}
.topbrokers .broker-wrapper .broker .badge-wrapper .bbadge.winner {
  background-image: url(../img/best-broker-gold.svg);
  height: 1.8rem;
  width: 1.8rem;
  border-radius: unset;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  white-space: normal;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.3rem;
  padding-top: 0.2rem;
  padding-right: 0.8rem;
  position: absolute;
  right: 1.2rem;
  top: -0.6rem;
  flex-direction: column;
  gap: 0.1rem;
}
.topbrokers .broker-wrapper .broker .badge-wrapper .bbadge.beginners {
  font-family: 'InterBold';
}
.topbrokers .broker-wrapper .broker .badge-wrapper .bbadge strong {
  font-family: 'InterBold';
}
.topbrokers .broker-wrapper .broker .inner-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  font-family: 'InterRegular';
}
.topbrokers .broker-wrapper .broker .inner-wrapper .row {
  width: 100%;
  display: flex;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.3rem;
  gap: 0.4rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-left .logo-wrapper img {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 0.5rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-left .col-trust {
  font-family: 'InterBold';
  font-size: 0.6rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-left .col-trust .row {
  gap: 0.15rem;
  align-items: center;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-left .col-trust .trust-score-image {
  background-image: url(../img/trust-score-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.75rem;
  height: 0.75rem;
}
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper .col-left .col-trust .trust-score-image {
  background-image: url(../img/tg/darkmode/trust-score-icon.png);
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle {
  padding-right: 0.2rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-title {
  font-size: 1rem;
  font-family: 'InterExtraBold';
  color: #1B1B1B;
  line-height: 1;
  display: inline-flex;
  margin-top: 0.5rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-title .icon-verified {
  background-size: contain;
  width: 0.95rem;
  height: 0.95rem;
  margin-top: -0.15rem;
  margin-left: 0.2rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-subtitle {
  font-size: 0.47rem;
  font-family: 'InterBold';
  color: #000;
  padding-top: 0.2rem;
  position: relative;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-subtitle:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.2rem solid transparent;
  border-left: 0.3rem solid #1b1b1b;
  border-bottom: 0.2rem solid transparent;
  scale: 90%;
  left: -0.6rem;
  top: 0;
  display: inline-block;
  margin-right: 0.15rem;
}
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-subtitle:before {
  border-left: 0.3rem solid #B9BED4;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-features {
  margin-left: 0.42rem;
  margin-top: 0.6rem;
  margin-bottom: 0.1rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-features ul {
  font-size: 0.36rem;
  font-family: 'InterMedium';
  line-height: 0.45rem;
  position: relative;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-middle .broker-features ul li:before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -0.35rem;
  scale: 70%;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right {
  display: flex;
  align-items: center;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from {
  display: flex;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 90%;
  align-items: center;
  gap: 0.4rem;
  padding-inline: 0.5rem;
}
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from {
  border-left: 1px solid #B9BED4;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from img {
  height: 1.5rem;
  width: auto;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from .start-text {
  display: flex;
  flex-direction: column;
  font-family: 'InterBold';
  gap: 0.25rem;
  margin-bottom: 0.1rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from .start-text .text {
  font-size: 0.55rem;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from .start-text .deposit {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}
.topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from .start-text .deposit:after {
  content: '';
  background-image: url(../img/arrow-right-black.svg);
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.2rem;
}
body.dark-mode .topbrokers .broker-wrapper .broker .inner-wrapper .col-right .col-start-from .start-text .deposit:after {
  background-image: url(../img/arrow-right-light.svg);
}
.topbrokers .broker-wrapper .broker .header {
  width: 100%;
  padding: 0;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8vmin;
  padding: 2.8vmin 0 2.8vmin 1.6vmin;
}
.topbrokers .broker-wrapper .broker .header .logo {
  width: 36vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.topbrokers .broker-wrapper .broker .header .logo .index {
  position: absolute;
  left: 0vw;
  top: -1vw;
  width: 6.5vw;
  height: 6.5vw;
  background-color: #ECD400;
  border-radius: 6.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'RobotoBlack';
  font-size: 4.8vw;
}
.topbrokers .broker-wrapper .broker .header .logo img {
  width: 33vw;
  max-height: 17.6vw;
  border-radius: 7.3vw;
}
.topbrokers .broker-wrapper .broker .header .logo .url {
  color: #101522;
  font-family: 'RobotoBold';
  font-size: 2.7vmin;
  padding-top: 0.7vh;
}
.topbrokers .broker-wrapper .broker .header .info-wrapper {
  flex-direction: row;
  display: flex;
  width: 42vw;
  float: right;
  font-family: 'RobotoBold';
  font-size: 3.2vmin;
  color: #101522;
  text-align: center;
  height: 20vw;
  align-items: center;
}
.topbrokers .broker-wrapper .broker .header .info-wrapper .text {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3.2vmin;
  font-family: 'RobotoBold';
}
.topbrokers .broker-wrapper .broker .header .info-wrapper .investment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 3.2vmin;
  font-family: 'RobotoBold';
}
.topbrokers .broker-wrapper .broker .header .info-wrapper .investment .deposit {
  font-size: 5.8vmin;
}
.topbrokers .broker-wrapper .broker .description {
  padding: 3.2vmin;
  display: block;
  float: left;
}
.topbrokers .broker-wrapper .broker .description .horizontal-break {
  width: 15%;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 1vh;
}
.topbrokers .broker-wrapper .broker .visit {
  display: block;
  float: left;
  width: 100%;
  text-align: right;
  padding: 3.2vmin;
  font-family: 'RobotoBold';
  color: #FF6B00;
  font-size: 4.3vmin;
}
.topbrokers .broker-wrapper .broker .visit .url {
  color: #177EDF;
  text-decoration: underline;
  text-decoration-color: #177EDF;
}
body.lang-es .topbrokers .brokers-title,
body.lang-fr .topbrokers .brokers-title,
body.lang-pt .topbrokers .brokers-title {
  font-size: 0.95rem;
}
